.title {
    margin-top: 3px;
    margin-left: 4px;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: 700;
    line-height: 34.47px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  